<h3> Runtime </h3>
<script>
<!--
  function about() {
    info = document.getElementById('about-content');
    if (info.style.display == 'none')
    {
		if (window.XMLHttpRequest)
		  { xhr = new XMLHttpRequest(); }
		else
		  { xhr = new ActiveXObject("Microsoft.XMLHTTP"); }
		xhr.open("GET","/rails/info/properties",false);
		xhr.send("");
		info.innerHTML = xhr.responseText;
		info.style.display = 'block'
	}
	else
	{
		info.style.display = 'none'
	}
  }
-->
</script>
<pre>
  <h4><a href="/rails/info/properties" onclick="about(); return false" class="btn btn-info">About the Rails&rsquo;s Environment...</a></h4>
  <div id="about-content" style="display: none; background-color: #ddd"></div>
</pre>
