<div class="container-fluid">
  <div class="hero-unit">
    <label>Want to explore? </label>
    <form class="from-search">
      <input type="text" class="input-xxlarge search-query" placeholder="city. sight...">
      <button type="submit" class="btn btn-inverse">Search</button>
    </form>
  </div>
</div>

<div class="container-fluid muted">
  <hr>
  <div class="row">
    <div class="span3">About</div>
    <div class="span3">Help</div>
    <div class="span3">More</div>
  </div>
</div>
