<div class="container-fluid">
  <div class="hero-unit">
    <p> Welcome</p>
  </div>
</div>

<div class="container-fluid muted">
  <hr>
  <pre>  rails routes info:
    devise_for :user_admins
    get "home/index"
    get "home/search"
    root :to => "home#index"
    resources :orders
    resources :customers
    resources :locations
    resources :gmap_users
  </pre>
</div>
