<div class="container-fluid">
  <div class="hero-unit">
    <p>  Availiable routes:</p>
    <ul>
        <li> /admin - rails_admin</li>
        <li> /customers - scaffold </li>
        <li> /orders - scaffold</li>
    </ul>
  </div>
</div>
