<div class="container-fluid">
  <div class="hero-unit">
    <label>What to search </label>
    <form class="from-search">
      <input type="text" class="input-xxlarge search-query" placeholder="a query to submit...">
      <button type="submit" class="btn btn-inverse">Search</button>
    </form>
  </div>
</div>
