<div class="container-fluid">
  <div class="hero-unit">
    <label>Want to explore? </label>
    <form class="from-search">
      <input type="text" class="input-xxlarge search-query" placeholder="type what you like to search...">
      <button type="submit" class="btn btn-inverse">Search</button>
    </form>
  </div>
</div>

<div class="container-fluid muted">
  <hr>
  <div class="row">
    <div class="span3">Footer 1</div>
    <div class="span3">Footer 2</div>
    <div class="span3">Footer 3</div>
  </div>
</div>