<div class="container">
  <div class="row">
    <div class="span12"></div>
        <form class="well from-search">
          <label>What to search </label>
          <input type="text" class="input-xxlarge search-query" placeholder="a query to submit...">
          <button type="submit" class="btn btn-inverse"><i class="icon-search"></i> Search</button>
        </form>
    </div>
  </div>
</div>
