<h1>Welcome to jQuery Mobile</h1>

<ul>
<li> <%= link_to "basic", mobile_basic_path %>
<li> <%= link_to "simple_list", mobile_simple_list_path %>
<li> <%= link_to "simple_form", mobile_simple_form_path %>
</ul>
