<%
   @roles_all = Role.all

   tb_head_html = "<table class=\'table-hover table-condensed \'>"
   tb_body_html = ""
%>
<% @roles_all.each do |role| %>
<%
    btn_remove = link_to ' Remove', role, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small icon-remove', remote: true
    btn_update = button_tag " Update", class: 'btn btn-small icon-refresh'


    tb_body_html += "<tr><td>"
    tb_body_html += form_tag role, :remote => true, :method => :put, :class => "form-inline", :style => "margin:0;padding:0;display:inline"
    tb_body_html += "<div style='margin:0;padding:0;display:inline'>" + text_field_tag('role[name]', role.name) + " " + btn_update + " " + btn_remove + "</div>"
    tb_body_html += "</form></td></tr>"
    tb_body_html = tb_body_html.gsub("\"","\'")
  %>
<% end %>
<%
   tb_body_html += "</table>"
   tb_all_html = tb_head_html + tb_body_html
%>

$("#roles_dynamic").html("<%= tb_all_html.html_safe %>");
